# URL Backend Spring Boot
NEXT_PUBLIC_API_URL=http://localhost:8080

# Google OAuth2 - lấy từ Google Cloud Console
NEXT_PUBLIC_GOOGLE_CLIENT_ID="Client_id"
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=http://localhost:3000/oauth2/redirect
